@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    font-family: Poppins;
    padding: 0;
    margin: 0;
}
header {
    margin: 0 0 100px 42px;
}
.a-header {
    color: #17233D;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin-right: 36px;
}
button {
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    width: 124px;
    height: 51px;
    cursor: pointer;
}
main {
    display: inline-block;
}
img {
    width: 595.178px;
    height: 500.005px;
    margin-left: 60px;
}
section {
    display: inline-block;
    margin-left: 84px;

}
h1 {
    width: 582px;
    color: #161A49;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.596px;
}
p {
    width: 493px;
    color: #4B505A;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    margin-top: 47px;
    margin-bottom: 55px;
}
#a-lern {
    color: #6FBF44;
    font-size: 18px;;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    cursor: pointer;
}
@media (max-width: 900px) {
    section {
        width: 100vw;
        height: 100vh;
        margin: 0;
    }
    .a-header {
        display: none;
    }
    header {
        display: inline-block;
        position: relative;
        left: 75vw;
        top: 17px;
        margin: 0;
    }
    button {
        width: 91px;
        height: 31px;
        font-size: 12px;
    }
    img {
        position: absolute;
        bottom: 23px;
        left: 39px;
        width: 312px;
        height: 288px;
        margin: 0;
    }
    h1 {
        font-size: 30px;
        width: 278px;
        line-height: 30px;
        text-align: center;
        margin: 124px auto 0;
    }
    p {
        font-size: 18px;
        text-align: center;
        width: 304px;
        margin: 40px auto;
    }
    #a-lern {
        display: inline;
        font-size: 18px;
        margin: 0 0 0 130px;
        text-align: center;
    }
}